{{define "board"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rave Bingo</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function() {
        console.log("bingo begins");
        $("#sendit").click(function() {
            $("#errors").hide();
            var boardData = JSON.stringify( $("#board").serializeArray() );
            $.ajax({
                url : "/board",
                type: "POST",
                processData: false,
                data: boardData,
                success: function(data, textStatus, jqXHR)
                {
                    // parse out the data and stick it into the DOM
                    console.log(data);
                    $("#avgCalls").text(data.AverageCallsUntilWin);
                    $("#shape1").text(data.WinsForEachShape[0] || 0);
                    $("#shape2").text(data.WinsForEachShape[1] || 0);

                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(errorThrown);
                    $("#errors").text("ERROR:" + errorThrown);
                    $("#errors").show();

                }
            });
        });

        $(".bingoNum").change(function(ev) {
            // if the number is checked, set the class of the enclosing tr to 'drawn', else 'notDrawn'
            let bn = this.value;
            let p = $(ev.target).parent();
            if ($('#called_'+bn).is(':checked')) {
                p.addClass('drawn');
            } else {
                p.removeClass('drawn');
            }
        });

        $(".calledBox").change(function() {
            // let the boxes figure out if they're checked
            $('.bingoNum').trigger("change");
        });

        // initialize which boxes are checked- can use the value selector here because we're looking at default values
        // not changed values- if they change the selector no longer works.
        $(".calledBox").each(function(i,e) {
            let elid = e.id; // called_N
            let bn = elid.split("_")[1] //
            if (this.checked) {
                $('input[value='+bn+']').parent().addClass('drawn');
            } else {
                $('input[value='+bn+']').parent().removeClass('drawn');
            }
        });

    });
</script>
</head>
<body>
<div id="buttons" class="block">
    <h1>Set up your bingo board</h1>

    <P>For each square, enter the number.
    <form id="board" method="post">
        <div class="board">
            <div class="board-header"><div>B</div><div>I</div><div>N</div><div>G</div><div>O</div></div>
            {{range .Rows}}
            <div class="board-row">
                {{ range . }}
                  <div class="square {{if eq .Number 0}}drawn free{{end}}">{{template "square" .}}</div>
                {{ end }}
            </div>
            {{end}}
        </div>
        <P>Numbers already called:</P>
        {{ $c := .Called}}
        {{range $i := N 1 15}}
          <span class="calledBoxContainer">{{$i}}<input type="checkbox" class="calledBox" {{if (index $c $i)}}checked{{end}} name="called" id="called_{{$i}}" value="called_{{$i}}"/></span>
        {{end}}
        <br>
        {{range $i := N 16 30}}
          <span class="calledBoxContainer">{{$i}}<input type="checkbox" class="calledBox" {{if (index $c $i)}}checked{{end}} name="called" id="called_{{$i}}" value="called_{{$i}}"/></span>
        {{end}}
        <br>
        {{range $i := N 31 45}}
          <span class="calledBoxContainer">{{$i}}<input type="checkbox" class="calledBox" {{if (index $c $i)}}checked{{end}} name="called" id="called_{{$i}}" value="called_{{$i}}"/></span>
        {{end}}
        <br>
        {{range $i := N 46 60}}
          <span class="calledBoxContainer">{{$i}}<input type="checkbox" class="calledBox" {{if (index $c $i)}}checked{{end}} name="called" id="called_{{$i}}" value="called_{{$i}}"/></span>
        {{end}}
        <br>
        {{range $i := N 61 75}}
          <span class="calledBoxContainer">{{$i}}<input type="checkbox"class="calledBox"  {{if (index $c $i)}}checked{{end}} name="called" id="called_{{$i}}" value="called_{{$i}}"/></span>
        {{end}}
        <br/><br/>
        <div class="send-container">
            <input type="button" id="sendit" name="sendit" value="Run Simulation"/>
        </div>
    </form>
</div>
<br>
<div id="errors" class="block" style="display: none;"></div>
<div id="results" class="block">
<p>Average calls before this board wins: <span id="avgCalls"></span></p>
    <p>Scenarios where shape 1 (arrow) wins: <span id="shape1"></span></p>
    <p>Scenarios where shape 2 (heart) wins: <span id="shape2"></span></p>
</div>

</body>
</html>
{{end}}

{{define "square"}}
{{if eq .Number 0}}FREE SPACE{{else}}<input class="bingoNum" size="2" maxlength="2" value="{{.Number}}" name="square_id_{{.Number}}"/>{{end}}
    <span class="needed">
      <br/>
      <input type="checkbox" {{if (index .Needed 0)}}checked{{end}} name="square_needed_{{.Number}}_0"/>
      <input type="checkbox" {{if (index .Needed 1)}}checked{{end}} name="square_needed_{{.Number}}_1"/>
    </span>
{{end}}
